@font-face {
    font-family: roboto;
    src: url(./Roboto-Regular.ttf);
  }

body {
    background-color: black;
    margin: 0%;
    font-family: roboto;
}

.wrapper {
    width: 87%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: auto;
    height: 950px;
    background-color: #e7e5e4;
        

}

.sidebar {
    background-color: #2563eb;
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    padding-left: 20px;
}



.panel {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: repeat(10, 1fr);
    align-items: center;

}

.logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    align-items: center;
}

.logo p {
    font-size: 25px;
    font-weight: bold;
}

.panel p {
    font-size: 20px;
    font-weight: bold;
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: 0 3px grey;
    
}

.topheader {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    

}

input {
    width: 500px;
    height: 30px;
    border: none;
    background-color: #e7e5e4;
    border-radius: 10px;
}

.topleftheader {
    display: flex;
    align-items: center;
    gap: 1vw;

}

.toprightheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw; 
}


.leftbottomheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.leftbottomheader img {
    width: 70px;
}

.leftbottomheader h2 {
    margin-top: 0%;
}

.bottomheader { 
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.rightbotomheader {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
}

.panel img, .icon, .contentgrid img {
    width: 25px;
}

.smallAvatar {
    width: 50px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
}

.announcements, .trending, .contentgrid > div {
    background-color: white;
    box-shadow: 1px 3px grey;
    padding: 15px;
    border-radius: 10px;
}

h5 {
    margin-bottom: 2px;
}

h3 {
    margin-bottom: 7px;
}

.announcements p {
    margin-top: 0%;
    font-size: 12px;
}

.contentgrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.icons {
    justify-self: end;
    display: flex;
    gap: 4vh;
    padding-bottom: 2.9vh;
}

.contentgrid > div {
    display: grid;
    border-left: 10px solid rgb(247, 118, 140);
}

.rightbar {
    margin: 0 25px 0 15px;
}

.content > div {
    margin-left: 15px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    line-height: 1vh;
    font-size: 14px;
}

.trending img {
    width: 50px;
}

.sidebar img, .sidebar p {
    filter: invert(97%) sepia(100%) 
    saturate(1%) hue-rotate(231deg)
    brightness(104%) contrast(101%);
}

button {
    height: 40px;
    width: 100px;
    background-color: #2563eb;
    border: none;
    border-radius: 20px;
    color: white;
}

.announcements  div:nth-child(1),
.announcements  div:nth-child(2) {
    border-bottom: 1px solid rgb(233, 230, 230);
    padding-bottom: 7px;
}

.trending div p:last-child {
    color: gray;
}








